<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class= "main-body">
            {{>header}}
        </div>
        {{>footer}}
    </body>
 </html>