<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class= "main-body">
            {{>header}}
            <p>You type the name of the place in the location input. Then we try to find the location.</p>
            <p>If location is not found error is given. Otherwise the data will be displayed on your screen</p>
            
        </div>
        {{>footer}}
    </body>
 </html>