<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class= "main-body">
            {{>header}}

        <form>
            <input type="text" placeholder="location">
            <input type="submit" class="button">
        </form>
        <p id="message-1"></p>        
        <p id="message-2"></p>        
        </div>
        {{>footer}}
    <script src="./index.js"></script>
    </body>
 </html>